ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #036;
}

.repo-name {
    margin: 0;
    font-size: 1.5em;
}

.repo-name a {
    text-decoration: none;
    background: #ddd;
    padding: .5em;
    display: block;
}

.repo-name a:hover,
.repo-name a:focus {
    background: #acf;
}

.repo-prs {
    border-radius: 5px;
    border: 1px solid #036;
    margin: 2em 1em;
}

.pr {
    border-bottom: 1px solid #369;
    margin: 0;
    padding: 0;
}

.pr-title {
    margin: 0;
    border-right: 1px solid #999;
}

.pr-title a {
    padding: 0.5em 1em;
    display: block;
}

.pr-title a:hover,
.pr-title a:focus {
    background: #def;
}

.pr-updated {
    color: #777;
    padding: 0 .5em;
    min-width: 14em;
    text-align: right;
}






.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }